html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Pretendard";
  background-color: black;
}
html > body,
html > body,
input,
html > body,
textarea,
html > body,
pre,
html > body,
button {
  font-family: "Pretendard";
}
